			<div id="mainactivites">
				<h1>Activités</h1>
			<p>Les principales activités proposées par l'association sont les suivantes:<br>
				- Le GYO : entrainement mental et physique<br>
				- Stages nationaux<br>
				- Démonstrations (salons, évènements)
			</p>
				<h1>Manifestations</h1>
				<h2>Japan Expo 2012</h2>
					<iframe width="280" height="210" src="//www.youtube.com/embed/nWltV5B3UDA" frameborder="0" allowfullscreen></iframe>
					<iframe width="280" height="210" src="//www.youtube.com/embed/fuOARKeiLc0" frameborder="0" allowfullscreen></iframe>
					<iframe width="280" height="210" src="//www.youtube.com/embed/55sbscCLih4?rel=0" frameborder="0" allowfullscreen></iframe>
					<iframe width="280" height="210" src="//www.youtube.com/embed/u7ew-g-BGog?rel=0" frameborder="0" allowfullscreen></iframe>
					<iframe width="280" height="210" src="//www.youtube.com/embed/dEjZ589-3xI?rel=0" frameborder="0" allowfullscreen></iframe>
					<iframe width="280" height="210" src="//www.youtube.com/embed/-veNJLYwzO4?rel=0" frameborder="0" allowfullscreen></iframe>
				<h2>Japan Expo 2011</h2>
				<iframe width="280" height="210" src="//www.youtube.com/embed/ESKLCetUnM8?rel=0" frameborder="0" allowfullscreen></iframe>

				<div class="galleria">
					<%= image_tag("imagesanciensite/11JapanExpo/shorinji008.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/11JapanExpo/shorinji009.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/11JapanExpo/shorinji010.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/11JapanExpo/shorinji051.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/11JapanExpo/shorinji057.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/11JapanExpo/shorinji062.jpg", :alt => "kaiso") %>
				</div>

				<h2>Japan Expo 2010</h2>

				<div class="galleria">
					<%= image_tag("imagesanciensite/10JapanExpo/SL735338.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735339.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735340.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735341.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735342.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735343.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735344.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735345.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735346.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735347.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735348.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735349.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735350.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735351.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735352.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735354.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735357.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735358.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735359.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735362.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735363.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735364.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735367.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735368.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735369.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735370.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735371.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735372.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735374.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735376.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735378.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735379.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735380.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735388.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735389.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735393.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735394.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735395.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735397.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/10JapanExpo/SL735399.jpg", :alt => "kaiso") %>
				</div>

				<h2>Japan Expo 2008</h2>

				<div class="galleria">
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3196.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3205.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3207.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3209.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3210.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3211.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3215.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3217.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3230.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3236.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3237.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3238.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3239.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3249.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3255.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3262.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08JapanExpo/imgp3264.jpg", :alt => "kaiso") %>
				</div>

				<h2>Chibi Japan Expo 2008</h2>
				<div class="galleria">
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3421.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3423.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3424.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3425.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3426.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3427.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3428.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3429.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3430.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3431.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/08ChibiJapanExpo/imgp3433.jpg", :alt => "kaiso") %>
				</div>
				<h2>Japan Expo 2007</h2>

				<div class="galleria">
					<%= image_tag("imagesanciensite/07JapanExpo/07japan01.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/07JapanExpo/07japan02.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/07JapanExpo/07japan03.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/07JapanExpo/07japan06.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/07JapanExpo/07japan07.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/07JapanExpo/07japan09.jpg", :alt => "kaiso") %>
				</div>

				<h2>Paris Anime Game Show 2007</h2>

				<div class="galleria">
					<%= image_tag("imagesanciensite/07AnimeGameShow/070506salon01.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/07AnimeGameShow/070506salon02.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/07AnimeGameShow/070506salon03.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/07AnimeGameShow/imgp1171.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/07AnimeGameShow/imgp1172.jpg", :alt => "kaiso") %>
					<%= image_tag("imagesanciensite/07AnimeGameShow/imgp1174.jpg", :alt => "kaiso") %>
				</div>

				<a href="association.html" id="retour">Retour<a/>
			</div>

<script>
	Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
	$(".galleria").galleria({
		width: 800,
		height: 500
	});
</script>
