	<div id="gallerie">
		<div id="galleria">
			<%= image_tag("img1.jpg", :alt => "kaiso") %>
			<%= image_tag("img2.jpg", :alt => "kaiso") %>
			<%= image_tag("img3.jpg", :alt => "kaiso") %>
			<%= image_tag("img4.jpg", :alt => "kaiso") %>
			<%= image_tag("img5.jpg", :alt => "kaiso") %>
			<%= image_tag("img6.jpg", :alt => "kaiso") %>
			<%= image_tag("img7.jpg", :alt => "kaiso") %>
			</div>
			<script>
				Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
				Galleria.run('#galleria');
			</script>
		</div>
