		
		<div id="section1">
		<div id="section1a">
			<h1>Shorinji Kempo Club Neuilly</h1>
				<p>Dojo de la Chapelle<br>
					21 Avenue de la Chapelle<br>
					75018 Paris<br>
					FRANCE
				</p>
			<%= image_tag("tn_email.png", :alt => "logo email", :id => "logo_email") %>
			<A HREF="mailto:skitoko@shorinjikempo-neuillyclub.com">skitoko@shorinjikempo-neuillyclub.com</A><br><br>

			<p><%= image_tag("tn_mobile.jpg", :alt => "logo mobile", :id => "logo_mobile") %>+33 (0)6 75 15 86 30</p>

		</div>
		<div id="section1b">
			<%= image_tag("tn_gline.png", :alt => "", :id => "gline") %>
			<%= image_tag("tn_gline.png", :alt => "", :id => "gline2") %>
		
	<%= form_for @message, :url => contact_path do |form| %>
			  <fieldset class="fields">
			    <div class="field">
			      <%= form.label :nom %>
			      <%= form.text_field :name %>
			    </div>
			    
			    <div class="field">
			      <%= form.label :'e-mail' %>
			      <%= form.text_field :email %>
			    </div>
			    
			    <div class="field">
			      <%= form.label :'votre message:' %>
			      <%= form.text_area :body %>
			    </div>
			  </fieldset>
			  
			  <fieldset class="actions">
			    <%= form.submit "Envoyer" %>
			  </fieldset>
	<% end %>	

			</div>	
		</div>


