<footer>
<div id="colonnes">
		
		<div id="posts">
			<h1>Derniers posts</h1>
			<h2><%= link_to "Stage Chesnay", articles_path %></h2>
			<h2><%= link_to "Japan Expo 2012", articles_path %></h2>
			<h2><%= link_to "Décès de la veuve du fondateur", articles_path %></h2>
		</div>

<%= form_for @message, :url => contact_path do |form| %>
			  <fieldset class="fields">
			    <div class="field">
			      <%= form.label :nom %>
			      <%= form.text_field :name %>
			    </div>
			    
			    <div class="field">
			      <%= form.label :'e-mail' %>
			      <%= form.text_field :email %>
			    </div>
			    
			    <div class="field">
			      <%= form.label :'votre message:' %>
			      <%= form.text_area :body %>
			    </div>
			  </fieldset>
			  
			  <fieldset class="actions">
			    <%= form.submit "Envoyer" %>
			  </fieldset>
	<% end %>	
	
		<br/>
		<%= image_tag("tn_logoSK.png", :alt => "Manji du Shorinji Kempo", :id => "logo2") %>
		<p>© 2013 ShorinjiKempo-NeuillyClub.<br/>
		Le logo et le nom Shorinji Kempo sont la propriété de la World Shorinji Kempo Organisation</p>
	</div>
</footer>
