<footer>
<div id="colonnes">

		<div id="posts">
			<h1>Derniers posts</h1>
			<h2><%= link_to "Stage Chesnay", articles_path %></h2>
			<h2><%= link_to "Japan Expo 2012", articles_path %></h2>
			<h2><%= link_to "Décès de la veuve du fondateur", articles_path %></h2>
		</div>
		<div id="contacts">
			<h1>Contact</h1>

			<%= form_tag("/contact", method: "post") do %>
			  <fieldset class="fields">
			    <div class="field">
			      <%= label "name", "nom" %>
			      <%= text_field "message", "name" %>
			    </div>

			    <div class="field">
			      <%= label "mail", "e-mail" %>
			      <%= text_field "message", "email" %>
			    </div>

			    <div class="field">
			      <%= label "message", 'votre message' %>
			      <%= text_area "message", "body" %>
			    </div>
			  </fieldset>
			  <%= submit_tag "Envoyer" %>
			<% end %>



			</div>
		<br/>
		<%= image_tag("tn_logoSK.png", :alt => "Manji du Shorinji Kempo", :id => "logo2") %>
		<p>© 2013 ShorinjiKempo-NeuillyClub.<br/>
		Le logo et le nom Shorinji Kempo sont la propriété de la World Shorinji Kempo Organisation</p>
	</div>
</footer>
