<footer>
<div id="colonnes">
		
		<div id="posts">
			<h1>Derniers posts</h1>
			<h2><%= link_to "Stage Chesnay", articles_path %></h2>
			<h2><%= link_to "Japan Expo 2012", articles_path %></h2>
			<h2><%= link_to "Décès de la veuve du fondateur", articles_path %></h2>
		</div>
		<div id="contacts">
			<h1>Contact</h1>


			<%= form_for @message, :url => contact_path do |form| %>
			  <fieldset class="fields">
			    <div class="field">
			      <%= form.label :nom, id:"nom" %>
			      <%= form.text_field :name, id:"txtnom" %>
			    </div>
			    
			    <div class="field">
			      <%= form.label :'e-mail', id:"mail" %>
			      <%= form.text_field :email, id:"txtmail" %>
			    </div>
			    
			    <div class="field">
			      <%= form.label :'votre message', id:"votremessage" %>
			      <%= form.text_area :body, id:"commentaire" %>
			    </div>
			  </fieldset>
			  <%= form.submit "Envoyer", id:"envoyer"%>
			<% end %>	



			</div>
		<br/>
		<%= image_tag("tn_logoSK.png", :alt => "Manji du Shorinji Kempo", :id => "logo2") %>
		<p>© 2013 ShorinjiKempo-NeuillyClub.<br/>
		Le logo et le nom Shorinji Kempo sont la propriété de la World Shorinji Kempo Organisation</p>
	</div>
</footer>
