<header>
			
			<%= image_tag("titreSK.jpg", :alt => "Logo du Shorinji Kempo", :id => "logo", :title => "Le logo représente un Manji") %>
			<h1><%= link_to "Shorinji Kempo Club Neuilly", root_path, :class => "titre" %></h1>
					
			<nav>
				<ul class="sf-menu">
					<li><%= link_to "Accueil", root_path %></li>
					<li><%= link_to "Articles", articles_path %></li>
                	<li><%= link_to "Association", association_path %>
						<ul>
							<li><%= link_to "Présentation", presentation_path %></li>
							<li><%= link_to "Activités", activites_path %></li>
						</ul>
					</li>					
			        <li><%= link_to "Shorinji Kempo", shorinjikempo_path %>
						<ul>
							<li><%= link_to "Historique", historique_path %></li>
							<li><%= link_to "Caractéristiques", caracteristiques_path %></li>
							<li><%= link_to "Techniques", techniques_path %></li>
							<li><%= link_to "Philosophie", philosophie_path %></li>
						</ul>
					</li>      	
					<li><%= link_to "Médias", medias_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
				</ul>
			</nav>

</header>