<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
   	<meta charset="utf-8" />
	<link rel="icon" href="images/favicon.png" />
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <%= yield %>
        <div id="section1">
          <%= render 'layouts/section1' %>
        </div>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>